USE [master]
GO
/****** Object:  Database [PhotoStudioSeverBD]    Script Date: 30.05.2023 0:16:01 ******/
CREATE DATABASE [PhotoStudioSeverBD]

GO
USE [PhotoStudioSeverBD]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeSheetId] [int] NOT NULL,
	[UserInfo] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Payed] [bit] NOT NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](1000) NOT NULL,
	[RoomId] [int] NOT NULL,
 CONSTRAINT [PK_Organizer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rewiew]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewiew](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](2000) NOT NULL,
	[Rate] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Rewiew] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[MinPrice] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[CeilingHeight] [float] NULL,
	[Light] [nvarchar](200) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_QuestCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Price] [float] NOT NULL,
	[RoomId] [int] NOT NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30.05.2023 0:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Id], [TimeSheetId], [UserInfo], [Phone], [Payed], [UserName]) VALUES (16, 6, N'helloKitty', N'+7 (974) 874-28-35', 1, N'helloKitty')
INSERT [dbo].[Booking] ([Id], [TimeSheetId], [UserInfo], [Phone], [Payed], [UserName]) VALUES (17, 3, N'helloKitty', N'+7 (974) 874-28-35', 1, N'helloKitty')
INSERT [dbo].[Booking] ([Id], [TimeSheetId], [UserInfo], [Phone], [Payed], [UserName]) VALUES (18, 7, N'nikifor', N'+7 (983) 507-01-01', 0, N'nikifor')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Title]) VALUES (1, N'Темные')
INSERT [dbo].[Category] ([Id], [Title]) VALUES (2, N'Светлые')
INSERT [dbo].[Category] ([Id], [Title]) VALUES (3, N'Циклограма')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Photo] ON 

INSERT [dbo].[Photo] ([Id], [Photo], [RoomId]) VALUES (1, N'1.jpg', 1)
INSERT [dbo].[Photo] ([Id], [Photo], [RoomId]) VALUES (2, N'2.jpg', 1)
INSERT [dbo].[Photo] ([Id], [Photo], [RoomId]) VALUES (3, N'3.jpg', 1)
SET IDENTITY_INSERT [dbo].[Photo] OFF
GO
SET IDENTITY_INSERT [dbo].[Rewiew] ON 

INSERT [dbo].[Rewiew] ([Id], [Title], [Rate], [RoomId], [UserName]) VALUES (10, N'Всегда с удовольствием работаю на студии Север! 
Отзывчивый персонал, нормальная аппаратура, много модификаторов и доп.света для решения любых творческих и коммерческих задач!
Всегда можно выпить чаю или кофе, передохнуть до и после съемки. А еще есть бюджетная циклорама в зале Coin, на которой можно любые эксперименты по свету тестить легко и бюджетно. Если выбираете студию, приходите сюда - не пожалеете!', 5, 6, N'nikifor')
INSERT [dbo].[Rewiew] ([Id], [Title], [Rate], [RoomId], [UserName]) VALUES (11, N'Очень хорошая студия, залы и оборудование! Но ооочень холодно, на громадный зал микро тепловая пушка, которая не греет от слова совсем. Фотосессия была с дочкой, мы еле разделись и на всех фото будут мурашки и напряжение)))) зимой я больше туда ни ногой. Сотрудники дружелюбные, и честные-я забыла часы в студии, мне их вернули на следующий день. Можно доверять.', 4, 5, N'nikifor')
INSERT [dbo].[Rewiew] ([Id], [Title], [Rate], [RoomId], [UserName]) VALUES (12, N'Прекрасная студия, широкий выбор залов, фонов, панорамные окна, однозначно лучшая студия.', 5, 8, N'lenskiy')
SET IDENTITY_INSERT [dbo].[Rewiew] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Title]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleId], [Title]) VALUES (3, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [Title], [Description], [MinPrice], [Area], [CeilingHeight], [Light]) VALUES (1, N'New Year', N'Зал созданный с атмосферой нового года', 1800, 68, 4.5, N'от источников света55')
INSERT [dbo].[Room] ([Id], [Title], [Description], [MinPrice], [Area], [CeilingHeight], [Light]) VALUES (5, N'Vertigo', N'При создании зала Vertigo мы стремились максимально упростить внешний облик и освободить пространство. Главным девизом нашего творчества было «more is less». Яркие акценты в интерьере добавляют изюминку, а наличие большой белой циклорамы*, расположенной у одного из окон, позволяет снимать с мягким рассеянным светом в течение всего светового дня.', 2100, 140, 6, N'рассветная сторона')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomCategory] ON 

INSERT [dbo].[RoomCategory] ([Id], [QuestId], [CategoryId]) VALUES (4, 1, 7)
INSERT [dbo].[RoomCategory] ([Id], [QuestId], [CategoryId]) VALUES (5, 5, 1)
INSERT [dbo].[RoomCategory] ([Id], [QuestId], [CategoryId]) VALUES (6, 5, 2)
SET IDENTITY_INSERT [dbo].[RoomCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([Id], [Date], [Time], [Price], [RoomId]) VALUES (1, CAST(N'2023-05-19' AS Date), CAST(N'19:00:00' AS Time), 5000, 1)
INSERT [dbo].[TimeSheet] ([Id], [Date], [Time], [Price], [RoomId]) VALUES (2, CAST(N'2023-05-24' AS Date), CAST(N'16:00:00' AS Time), 5000, 1)
INSERT [dbo].[TimeSheet] ([Id], [Date], [Time], [Price], [RoomId]) VALUES (3, CAST(N'2023-05-25' AS Date), CAST(N'16:30:00' AS Time), 2800, 5)
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [LastName], [FirstName], [MiddleName], [Phone], [Email]) VALUES (N'admin', N'1', 1, N'Хайруллин', N'Ильназ', N'', N'+8 (965) 656-56-53', N'ilnaztop@mail.ru')
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [LastName], [FirstName], [MiddleName], [Phone], [Email]) VALUES (N'best', N'1', 3, N'Полина', NULL, NULL, N'+7 (777) 777-77-77', NULL)
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [LastName], [FirstName], [MiddleName], [Phone], [Email]) VALUES (N'helloKitty', N'1', 3, N'Недашковская', N'Ванда', N'Львовна', N'+7 (974) 874-28-35', N'VandaNedashkovskaya183@mail.ru')
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_TimeSheet] FOREIGN KEY([TimeSheetId])
REFERENCES [dbo].[TimeSheet] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_TimeSheet]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_Photo_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_Photo_Room]
GO
ALTER TABLE [dbo].[Rewiew]  WITH CHECK ADD  CONSTRAINT [FK_Rewiew_Quest] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Rewiew] CHECK CONSTRAINT [FK_Rewiew_Quest]
GO
ALTER TABLE [dbo].[Rewiew]  WITH CHECK ADD  CONSTRAINT [FK_Rewiew_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Rewiew] CHECK CONSTRAINT [FK_Rewiew_User]
GO
ALTER TABLE [dbo].[RoomCategory]  WITH CHECK ADD  CONSTRAINT [FK_QuestCategory_Quest] FOREIGN KEY([QuestId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[RoomCategory] CHECK CONSTRAINT [FK_QuestCategory_Quest]
GO
ALTER TABLE [dbo].[RoomCategory]  WITH CHECK ADD  CONSTRAINT [FK_RoomCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[RoomCategory] CHECK CONSTRAINT [FK_RoomCategory_Category]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_Quest] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_Quest]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
